In [0]:
# dfraw = spark.sql("""select *, 
#     dateadd(hour,-3,current_timestamp()) as dt_data_atualizacao 
# from dbstage.tbpokemon""")

In [0]:
# (dfraw
#     .write
#     .format("delta")
#     .mode("overwrite")
#     .option("overwriteSchema", True)
#     .save("/dbfs/tmp/dbraw/pokemon")
# )
# spark.sql("create table if not exists dbraw.tbpokemon using delta location '/dbfs/tmp/dbraw/pokemon'")

Out[8]: DataFrame[]

In [0]:
%sql
MERGE INTO dbraw.tbpokemon AS a
USING (select distinct * from dbstage.tbpokemon) AS b
ON  a.nome   = b.nome
and a.tipos  = b.tipos
and a.Altura = b.Altura
WHEN MATCHED THEN
  UPDATE SET
    a.peso                          = b.Peso,
    a.habilidades                   = b.Habilidades,
    a.Experiencia_Base              = b.Experiencia_Base,
    a.Status                        = b.Status,
    a.dt_data_atualizacao           = DATEADD(HOUR, -3, CURRENT_TIMESTAMP())
WHEN NOT MATCHED THEN
  INSERT 
  (
   altura
  ,peso
  ,habilidades
  ,Experiencia_Base
  ,Status
  ,tipos
  ,dt_referencia_criacao
  )
  VALUES 
  (
   altura
  ,peso
  ,habilidades
  ,Experiencia_Base
  ,Status
  ,tipos
  ,DATEADD(HOUR, -3, CURRENT_TIMESTAMP())
  )

num_affected_rows,num_updated_rows,num_deleted_rows,num_inserted_rows
498,498,0,0